.DS_Store
/node_modules/*
/src/node_modules/*
yarn-error.log
/cypress/screenshots/
/__sapper__/
.firebase/

!/node_modules/smelte/
/node_modules/smelte/node_modules/
/node-red-data/.npm/
/node-red-data/node_modules/
.env
